*.pyc 
# Python garbage
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment stuff
.env
.venv/
env/
venv/

# IDEs and editors
.vscode/
.idea/

# OS trash
*.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Logs & caches
*.log
*.cache/
*.bak

# Media & junk files
*.mp4
*.wmv
*.zip
*.rar
*.lnk
*.docx
*.pdf
*.png
*.jpg
*.jpeg
*.avif

# Node modules & random tools
node_modules/
tesseract-main/
chrome-win64/
chromedriver-win64/

# Ignore user folders & irrelevant folders
/Downloads/
/Documents/
/Pictures/
/Music/
/Videos/
/Contacts/
/Favorites/
/AppData/
/Saved Games/
/Searches/
/OneDrive/
/3D Objects/
/Links/
/My Documents/
/Desktop/
